/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/storage/*.index-*
/storage/*.index-journal
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
composer-setup.php
composer.phar
/docker/nginx/selfsigned.crt
/docker/nginx/selfsigned.key
/docker/nginx/nginx.conf
/docker/mysql/*
*.log
.DS_Store
composer.lock
public/js/*
public/css/*
*.sql
*.pem
private
